<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}">
  </head>
  <body>
    <h2>Reviews for <span style="color: red"><em> {{ itemName }}</em></span><br />by <span style="color: #0101DF"><em> {{ nReviewers }}</em></span> of your <span style="color: #298A08"><em> {{ level }}</em></span> degree trusted reviewers</h2>

    <table class="table" style="width: 80%">
      <thead>
        <tr>
          <th style="text-align: center;">Reviewer</th>
          <th style="text-align: center;">Rating</th>
          <th style="text-align: center;">Summary</th>
          <th style="text-align: center;">Review</th>
          <th style="text-align: center;">Timestamp</th>
        </tr>
      </thead>
      {% for a in reviews %}
        <tr>
            <td>{{a['reviewerName']}}</td>
            <td>{{a['rating']}}</td> 
            <td>{{a['summary']}}</td>
            <td>{{a['reviewText']}}</td>
            <td>{{a['reviewTime']}}</td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>



